{% extends 'articles/base.html' %}

{% block content %}

<div>
    <h2>Форма регистрации</h2>
    <div class="reg">
    <form action="/your-name/" method="post">
        <p><label for="your_name" class="label">Ваше имя: </label>
            <input type="text" name="your_name" value="" /></p>
        <p><label for="second_name" class="label">Ваша фамилия</label>
            <input type="text" name="second_name" value="" /></p>
        <p><label for="country" class="label">Страна</label>
            <input type="text" name="contry" value="" /></p>
        <p><label for="city" class="label">Город</label>
            <input type="text" name="city" value="" /></p>
        <p><label for="email" class="label">E-mail</label>
            <input type="email" name="email" value="" /></p>
        <p><input type="submit" value="Зарегистрировать" class="submit"></p>
    </form>
    </div>
</div>

{% endblock %}
 <label for="login">Login: </label>
            <input type="text" name="form_name" value="" /><br>
            <label for="password">Password: </label>
            <input type="password" name="form_pass" value="" maxlength="10" />
            <input type="submit" value="ОK" />
            <a href="/registration">Зарегистрироваться</a>

